@import url('https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@300;400;500;700;900&display=swap');
:root{
    --violet: #776df4;
    --dark: #4a4b64;
    --lightgray: #dfdfeb;
    --lightblue: #bbb6f9;
    --light: #f8f7fd;
    --white: #fff;
    --black: #000;
    --green: #17c995;
    --navy: #37384d;
    --logoFont: 'Chango', cursive;
    --transition: .4s ease;
    --gray: rgba(193, 193, 204, 0.62);

}

body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    }
    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 75%;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    font-size: 1.4rem;
    background: var(--violet);
    color: var(--white);
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px solid var(--violet);
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--violet);
    cursor: pointer;
}

/***** nav *****/

nav .container {
    display: flex;
    align-items: center;
    padding: 20px  0;
}

nav .container .logo {
    flex: 2;
    font-size: 1.8rem;
    color: var(--dark);
    font-weight: 500;
    display: flex;
    align-items: center;
}

nav .container .logo span {
    font-family: var(--logoFont);
    font-size: 2rem;
    margin-right: 15px;
    border: 2px solid var(--lightgray);
    border-radius: 15px;
    padding: 8px 12px;
    box-shadow: 0 0 10px 2px var(--lightgray);
    color: var(--violet);
}

nav .container ul {
    flex: 8;
    display: flex;
}

nav .container ul li {
    margin-right: 30px;
}

nav .container ul li a {
    font-size: 1.3rem;
    color: var(--dark);
    transition: var(--transition);
}

nav .container ul li a:hover {
    color: var(--violet);
}

nav .container .btn {
    flex: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

/* header */
header{
    background: var(--lightgray);
    height: 100vh;
    clip-path: circle(70% at 50% 10%);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
 header .container .text{
     flex: 0 0 40%;
}
header .container .text h1{
    font-size: 4rem;
    color: var(--dark);
}
header .container .text p{
    color: var(--dark);
    opacity: .5;
    font-size: 1.1rem;
    margin: 20px 0;
}
header .container .text .play{
    display: flex;
    align-items: center;
}
header .container .text .play a i{
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: var(--violet);
    text-align: center;
    border-radius: 50%;
    font-size: 1.4rem;
    color: var(--white);
    transition: var(--transition);
    border: 2px solid transparent;
}

header .container .text .play a i:hover {
    border: 2px solid var(--violet);
    background: transparent;
    color: var(--violet);
}

header .container .text .play p{
    margin-left: 35px;
}
header .container .img{
    flex: 0 0 50%;
}
header .container .img img{
    width: 100%;
}

/***** about *****/

.about {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    background: var(--white);
    border-radius: 15px;
    box-shadow: 0 0 25px 1px var(--gray);
    margin-top: -240px;
    position: relative;
}

.about article {
    flex: 0 0 40%;
}

.about .col1 {
    text-align: center;
    margin: auto 0;
}

.about .col1 h3 {
    font-size: 2.2rem;
    color: var(--gray);
}

.about .col1 h2 {
    font-size: 2rem;
    color: var(--dark);
}

.about .col2 p {
    font-size: 1.1rem;
    margin: 30px 0;
    color: var(--dark);
    opacity: .5;
} 

/* Work */

.work{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 0;
}
.work hgroup{
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark);
}
.work .container .buttons{
    margin: 50px 0;
}
.work .container .buttons ul{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.work .container .buttons ul li{
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.4rem;
    border: 2px solid transparent;
    color: var(--dark);
    transition: var(--transition);
    padding: 10px 35px;
    
}
.work .container .buttons ul .active{
    border: 2px solid var(--violet);
    background: transparent;
    color: var(--violet);
    border-radius: 10px;
   
}

.work .container .product .item-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.work .container .product .itemBox{
    flex: 0 0 23%;
}
.work .container .product .itemBox img{
   width: 100%;
   border-radius: 15px;
}
.work .btn{
    margin-top: 40px;
}

/***** services *****/

.services hgroup {
    text-align: center;
    padding-bottom: 10px;
}

.services h2 {
    font-size: 2.4rem;
    color: var(--dark);
}

.services p {
    font-size: 1.1rem;
    color: var(--dark);
    opacity: .5;
    margin: 20px 0;
}

.services .row {
    display: flex;
    justify-content: space-around;
    margin: 30px 0 80px 0;
}

.services i {
    color: var(--violet);
    font-size: 5rem;
}

.services h4 {
    font-size: 1.5rem;
    color: var(--dark);
    margin: 20px 0;
}

.services a {
    color: var(--dark);
    opacity: .5;
    font-size: 1.3rem;
    line-height: 1.5;
    transition: var(--transition);
}

.services a:hover {
    color: var(--violet);
    text-decoration: underline;
    opacity: 1;
}

/* Team */
.team{
    background: var(--lightgray);
    padding-bottom: 80px;
}
.team .naslov{
    text-align: center;
    font-size: 2rem;
    color: var(--dark);
    padding: 80px 0;
}
.team .container .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.team .container .row .people{
    flex: 0 0 23%;
    position: relative;

}
.team .container .row .people img{
    width: 100%;
    height: 93%;
    border-radius: 15px;
    
}
.team .container .row .people hgroup{
    position: absolute;
    background: rgba(74, 75, 100,.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 93%;
    opacity: 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 0;
    color: var(--white);
    transition: var(--transition);
    cursor: pointer;
}
.team .container .row .people hgroup .social a i{
    font-size: 1.2rem;
    color: var(--white);
    margin-right: 20px;
}
.team .container .row .people hgroup h4{
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.team .container .row .people hgroup p{
    margin: 20px 0;
}
.team .container .row .people hgroup:hover{
    opacity: 1;
}

/***** say *****/

.say {
    padding: 80px 0;
}

.say .container {
    display: flex;
    justify-content: space-between;
}

.say .container .col1 {
    flex: 0 0 60%;
}

.say .container .col1 .slider-item{
    display: none;
    transition: 1s all;
}
.say .container .col1 .slider-item.active{
    display: block;
    transition: 1s all;
    
}

.say .col1 h3 {
    font-size: 2.3rem;
    color: var(--dark);
}

.say .tekst {
    display: none;
    display: flex;
    padding: 50px 0;
}

.say .tekst i {
    flex: 0 0 10%;
    font-size: 3.5rem;
    color: var(--violet);
    opacity: .5;
}

.say .tekst .tekst-1 {
    flex: 0 0 90%; 
}

.say .tekst .tekst-1 p {
    font-size: 1.1rem;
    color: var(--dark);
    opacity: .5;
    padding-bottom: 30px;
    line-height: 1.5;
}

.say .tekst .tekst-1 .people-say {
    display: flex;
}

.say .tekst .tekst-1 .people-say img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.say .tekst .tekst-1 .people-say p {
    color: var(--dark);
    opacity: 1;
    font-weight: 500;
    line-height: 60px;
    margin-left: 20px;
}

.say .container .strelice {
    display: flex;
    justify-content: flex-end;
}

.say .container .strelice i {
    padding: 20px;
    border: 2px solid var(--gray);
    border-radius: 20px;
    color: var(--dark);
    margin: 0 10px;
    cursor: pointer;
}

.empty {
    flex: 0 0 0.1%;
    background: var(--gray);
}

.say .container .col2 {
    flex: 0 0 22%;
    padding-top: 40px;
}

.say .container .col2 img {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* Blog */
.blog-all{
    background: var(--lightgray);
}
.blog{
    background: var(--violet);
    height: 50vh;
    border-radius:0 0 40% 40%;
}
.blog hgroup{
    text-align: center;
    padding: 80px 0;
}
.blog hgroup h3{
    font-size: 2.3rem;
    color: var(--white);
}
.owl-carousel{
    /* position: relative; */
    margin-top: -200px;
    
}
.owl-carousel .item{
  background: var(--white);
  padding: 40px;
  box-shadow: 0px 0px 20px 1px var(--gray);
  border-radius: 15px;
  border: 2px solid var(--lightgray);
}
.owl-carousel .item .img{
    display: flex;
    align-items: center;
    position: relative;
}
.owl-carousel .item .img p a{
    color: var(--dark);
    font-weight: 500;
}
.owl-carousel .item .img img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.owl-carousel .item p{
    color: var(--dark);
}
.owl-carousel .item h4{
    font-size: 1.4rem;
    color: var(--dark);
    margin: 30px 0;
}
.owl-carousel .item .date{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.owl-carousel .item .date i{
    margin-right: 10px;
    color: var(--dark);
}

/***** contact *****/
.contact {
    background: var(--lightgray);
    padding: 80px 0;
}
.contact h3 {
    font-size: 2.3rem;
    color: var(--dark);
}
.contact h5 {
    font-size: 1.4rem;
    color: var(--dark);
    padding: 30px 0;
}
.contact p {
    font-size: 1.1rem;
    color: var(--dark);
    opacity: .7;
    padding: 10px 0;
    line-height: 1.5;
}
.contact .container {
    display: flex;
    justify-content: space-between;
}
.contact .container .first {
    flex: 0 0 60%;
}
.contact .container .first ul {
    display: flex;
    justify-content: space-between;
    width: 75%;
} 
.contact .container .first ul li {
    font-size: 1.2rem;
    color: var(--violet);
    font-weight: 500;
    background: transparent;
    padding: 12px 28px;
    border: 1px solid var(--violet);
    border-radius: 15px;
    cursor: pointer;
    transition: var(--transition);
}
.contact .container .first ul li:hover {
    background: var(--gray);
    border: 1px solid var(--gray);
}
.contact .container .first form {
    padding: 50px 0;
}
.contact .container .first form i {
    color: var(--violet);
    position: relative;
    right: -15px;
    color: var(--dark);
    opacity: .5;
}
.contact .container .first form input {
    width: 80%;
    margin: 0 0 30px -15px;
    padding: 10px 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: 1px solid rgba(135, 135, 142, 0.78);
    border-radius: 10px;
}
.contact .container .first form textarea {
    width: 80%;
    border: 1px solid rgba(135, 135, 142, 0.78);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2rem;
    color: var(--dark);
}
.contact .container .first form i:last-child {
    left: -35px;
    top: -10px;
    font-size: 1.5rem;
    color: var(--violet);
    opacity: 0.8;
    cursor: pointer;
}
.contact .container .first .btn {
    padding: 10px 80px;
}
.contact .container .second {
    flex: 0 0 22%;
}
.contact .container .second .social {
    width: 96%;
    display: flex;
    flex-wrap: wrap;
}
.contact .container .second .social i {
    font-size: 1.2rem;
    flex: 0 0 21%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 2px solid var(--gray);
    border-radius: 15px;
    color: var(--dark);
    text-align: center;
    margin: 0 12px 12px 0;
    transition: var(--transition);
}
.contact .container .second .social i:hover {
    color: var(--violet);
    border: 2px solid var(--violet);
}
/***** footer *****/
footer {
    background: var(--navy);
    color: var(--white);
}
footer .container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
footer .container .footer-1 {
    flex: 0 0 50%;
}
footer .container .footer-1 p {
    font-size: 1.2rem;
    color: var(--gray);
}
footer .container .footer-1 p span {
    font-size: 1.3rem;
    color: var(--lightgray);
    letter-spacing: 1px;
}
footer .container .footer-2 {
    flex: 0 0 50%;
}
footer .container .footer-2 ul {
    display: flex;
    justify-content: flex-end;
}
footer .container .footer-2 ul li a {
    font-size: 1.3rem;
    color: var(--lightgray);
    margin-left: 20px;
    transition: var(--transition);
}
footer .container .footer-2 ul li a:hover {
    color: var(--violet);
}


