@import url('https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@300;400;500;700;900&display=swap');
:root{
    --violet: #776df4;
    --dark: #4a4c65;
    --lightgray: #dfdfeb;
    --lightblue: #bbb6f9;
    --light: #f8f7fd;
    --white: #fff;
    --black: #000;
    --green: #17c995;
    --navy: #37384d;
    --logoFont: 'Chango', cursive;
    --transition: .4s ease;
    --gray: rgba(193, 193, 204, 0.62);

}

body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    }
    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 75%;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    font-size: 1.4rem;
    background: var(--violet);
    color: var(--white);
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px solid var(--violet);
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--violet);
    cursor: pointer;
}

/***** nav *****/

nav .container {
    display: flex;
    align-items: center;
    padding: 20px  0;
}

nav .container .logo {
    flex: 2;
    font-size: 1.8rem;
    color: var(--dark);
    font-weight: 500;
    display: flex;
    align-items: center;
}

nav .container .logo span {
    font-family: var(--logoFont);
    font-size: 2rem;
    margin-right: 15px;
    border: 2px solid var(--lightgray);
    border-radius: 15px;
    padding: 8px 12px;
    box-shadow: 0 0 10px 2px var(--lightgray);
    color: var(--violet);
}

nav .container ul {
    flex: 8;
    display: flex;
}

nav .container ul li {
    margin-right: 30px;
}

nav .container ul li a {
    font-size: 1.3rem;
    color: var(--dark);
    transition: var(--transition);
}

nav .container ul li a:hover {
    color: var(--violet);
}

nav .container .btn {
    flex: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

/* header */
header{
    background: var(--lightgray);
    height: 100vh;
    clip-path: circle(70% at 50% 10%);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
 header .container .text{
     flex: 0 0 40%;
}
header .container .text h1{
    font-size: 4rem;
    color: var(--dark);
}
header .container .text p{
    color: var(--dark);
    opacity: .5;
    font-size: 1.1rem;
    margin: 20px 0;
}
header .container .text .play{
    display: flex;
    align-items: center;
}
header .container .text .play a i{
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: var(--violet);
    text-align: center;
    border-radius: 50%;
    font-size: 1.4rem;
    color: var(--white);
    transition: var(--transition);
}

header .container .text .play a i:hover {
    border: 2px solid var(--violet);
    background: transparent;
    color: var(--violet);
}

header .container .text .play p{
    margin-left: 35px;
}
header .container .img{
    flex: 0 0 50%;
}
header .container .img img{
    width: 100%;
}

/***** about *****/

.about {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    background: var(--white);
    border-radius: 15px;
    box-shadow: 0 0 25px 1px var(--gray);
    margin-top: -240px;
    position: relative;
}

.about article {
    flex: 0 0 40%;
}

.about .col1 {
    text-align: center;
    margin: auto 0;
}

.about .col1 h3 {
    font-size: 2.2rem;
    color: var(--gray);
}

.about .col1 h2 {
    font-size: 2rem;
    color: var(--dark);
}

.about .col2 p {
    font-size: 1.1rem;
    margin: 30px 0;
    color: var(--dark);
    opacity: .5;
} 

/* Work */

.work{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 0;
}
.work hgroup{
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark);
}
.work .container .buttons{
    margin: 50px 0;
}
.work .container .buttons ul{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.work .container .buttons ul li{
    margin-right: 20px;
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--dark);
    transition: var(--transition);
    padding: 10px 35px;
}
.work .container .buttons ul .active{
    border: 2px solid var(--violet);
    background: transparent;
    color: var(--violet);
    border-radius: 10px;
}

.work .container .product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.work .container .product .itemBox{
    flex: 0 0 23%;
}
.work .container .product .itemBox img{
   width: 100%;
}
.work .btn{
    margin-top: 40px;
}

